.modal-header
	%h1
		= @task.new_record? ? 'New Task' : "Editing task #{@task.title}"
	= simple_form_for @task, class: 'clearfix' do |f|
		.modal-body
			= f.input :title
			= f.input :note
			= f.input :completed
			= f.input :completed_on, as: :string,input_html: {class: 'datepicker'}
		.modal-footer
			= f.submit 'Save', class: 'btn btn-primary'